a, a:visited {
    border: 1px solid black;
    color: #000;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

a:hover {
    background-color: #ff0000;
}

#buttons {
    display: none;
}

#toolbar {
    display: flex;
    flex-direction: column;
    width: 50px;
    text-align: center;
}

#hamburger{
    height: 16px;
}

p {
    color: #000;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
}

#content{
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

#toptext{
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    
}
